@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    /* background:red; */
}
.container{
    width: 100%;
    margin: auto auto;
    display: grid;
    grid-template-columns: 78px calc(100% - 78px);
    grid-gap: 0 0;
    transition: all .4s ease;
    grid-template-areas: 
    "h2 h1 "
    "h2 h3";
}
.container.active{
    transition: all .4s ease;/* */
    grid-template-columns: 240px calc(100% - 240px);
}

.header{
    position: relative;
    grid-area: h1;
    height: 60px;
    /* background-color: salmon; */
    transition: all .4s ease;
    width: 100%;
    display: flex;
    border-bottom: 2px solid rgba(0, 0,0, 0.2);
    /* border-radius: -40px;
    border-bottom-left-radius: 40px; */
}
#func_select{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 30px;
    font-weight: 600;
    transform: translateY(-50%);
}
.user{
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    line-height: 40px;
    align-items: center;
}
.user-info{
    height: 40px;
    border-radius: 40px;
    display:flex;
    max-width: 200px;
    align-items: center;
    margin-right: 10px;
    /* background-color: aquamarine; */
    justify-content: space-between;
}
.user-info:hover{
    background: #b1c9ca;
    transition: all .2s ease;
    cursor: pointer;
}
.user_img{
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin-right: 0 10px;
}
.user_names{
    padding: 5px;
    margin-right: 10px;
    color: #333;
    text-align: left;
    display:-webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.user_message{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 0 10px;
    background: #3a3b3c;
}
.user_notification{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: #3a3b3c;
    margin: 0 10px;
}
.user_logout{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background: ;#3a3b3c
    margin: 0 10px;
}
.user i{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.user_notification:hover,.user_message:hover,.user_logout:hover{
    background: #b1c9ca;
    transition: all .2s ease;
}


.navigation{
    position: relative;
    grid-area: h2;
    height: 100vh;
    background-color: darksalmon;
    transition: all .4s ease;
}
.navigation
{
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    background-color: #ff2816d1;
    padding: 6px 14px;
    width: 78px;
    transition: all 0.4s ease;  
}
.navigation.active{
    width: 240px;
}
.navigation .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition:all .4s ease;
}
.navigation.active .logo_content .logo{
    opacity: 1;
    pointer-events: none; 
}
.logo_content .logo i{
    font-size: 40px;
    margin-right: 5px;
}
.logo_content .logo .logo-name{
    font-size: 40px;
    font-weight: 500;
}
.navigation #menu-btn{
    color: #fff;
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.navigation.active #menu-btn{
    left: 90%;
}
.nav_list{
    margin-top: 25px;
}
.nav_list li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 5px 0;
    list-style-type: none;
    line-height: 50px;
}
.nav_list li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all .4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.nav_list li a:hover{
    color: #ff2816d1;
    background: #fff;
}
.list.active{
    color: #ff2816d1;
    background: #fff;
}
.nav_list li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #fb8c829e;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}
.nav_list li .bx-search{
    position: absolute;
    z-index: 1001;
    color: #fff;
    font-size: 30px;  
}
.nav_list li .bx-search:hover{
    background: #fff;
    color: #ff1c08cc;
}
.nav_list li i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
}
.tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    /* height: 35px; */
    min-width: 180px;
    max-width: 240px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0 ,0.2);
    border-radius: 12px;
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.nav_list li:hover .tooltip{
    top: 50%;
    opacity: 1;
    transition: all .4s ease;
}
.nav_list.active li .tooltip{
    display: none;
}
.nav_list .links_name{
    opacity: 0;
    pointer-events: none;
    transition:all .4s ease;
    /* display:-webkit-box; */
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.nav_list.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.content{
    grid-area: h3;
    transition: all .4s ease;
    min-height: 100vh;
    position: relative;
    opacity: 0;
    display: none;
}
.content.active{
    display: block;
    opacity: 1;
    z-index: 1;
}
.del{
    height: 25px;
    width: 25px;
    border-radius: 6px;
    border: none;
    background-color: red;
    color: #fff;
}
.del:hover{
    opacity: 0.6;
    cursor: pointer;
}
.bottom-100{
   margin-bottom: 100px;
}
.del{
    height: 25px;
    width: 25px;
    border-radius: 6px;
    border: none;
    background-color: red;
    color: #fff;
}
.del:hover{
    opacity: 0.6;
    cursor: pointer;
}

.warning-text{
    color: red;
    /* font-size: 28px; */
}

