.profile{
    padding: 10px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    pointer-events: none;
}
.profile hr{
    width: 80%;
    color: #fff;
    border: 3px  solid skyblue;
    line-height: 4px;
    border-radius: 4px;
}
.profile-title{
    font-size: 28px;
    width: 70%;
    font-weight: 700;
    color: #4d5bf9;
    display: flex;
    align-items: center;
    height: 40px;
    /* border-bottom:solid 2px rgba(0, 0, 0 ,0.2); */
}
.profile-box{
    padding: 10px 0;
    display: flex;
}
.profile__img{ 
    height: 200px;
    width: 150px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0 ,0.2);
    margin-bottom: 10px;
}
.profile-subbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 50px;
}
.profile-textbox{
    margin: 20px 40px;
    line-height: 2em;
}
.dashboard{
    width: 100%;
    height: 500px;
    background-color:yellow;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;  
}

.course-form, .class-form{
    margin-top: 20px;
    height: 300px;
    position: relative;
    
}
.class .class-form{
    margin-top: 20px;
    height: 350px;
    position: relative;    
}
.form__text{
    padding: 20px;
    margin-top: 40px;
    width:60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color:rgba(0, 0, 0 ,0.2);
    line-height: 40px;
    border-radius: 12px;
}
.form__text .course-submit{
    position: relative;
    margin-top: 10px;
}
.select-term{
    padding:5px 10px;
    width: 100px;
}
.input-code{
    padding:5px 10px;
    width: 240px;
}
/* .course-list{

}
.course-result{

} */
.class__total{
    position: absolute;
    right: 12%;
}
.course-submit{
    height: 40px;
    width: 240px;
    border-radius: 12px;
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    text-align: center;
}
.course-submit:hover{
    cursor: pointer;
}
.course .table li:last-child{
    border-top: none;
}
.course__total{
    position: absolute;
    right: 13.5%;
}
.class-search{
    width: 90%;
    padding: 0 5px 0 15px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
}
.col .bx-search{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
    font-size: 12px;
}
.col-p30 .bx-search{
    left: 7%;
}

/* .tuition .table li:last-child{
    border-top: none;
} */

.tuition .tuition-sum{
    position: absolute;
    left: 58%;
}
.tuition .tuition-sum2{
    position: absolute;
    left: 35%;
}
.tuition-text{
    margin-left: 40px;
    margin-top: 40px;
}
.tuition-text strong{
    font-size: 20px;
}
.tuition-text li {
    margin-left: 15px;
}
.tuition-text .payment{
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 50px;
    border-radius: 12px;
}

.schedule-timetable{
    position: relative;
    margin: 30px;
    display: grid;
    border: 1px solid rgba(0, 0, 0 ,0.2);
    grid-template-columns: 50px auto;
    grid-template-rows: auto;
    /* gap: 1px 1px; */
    grid-template-areas:
    ". timetable__header"
    "timeslots main";
}
.schedule-timetable li{
    list-style: none;

}

.timetable__header{
    grid-area: timetable__header;
    background: aquamarine;
    min-height: 3em;
    text-align: center;
    width: 100%;
}
.timetable__header li{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.timetable__header li:after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0 ,0.2);
}
.timetable__days{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.timetable__timeslots{
    background: thistle;
    grid-area: timeslots;
}
.timeslots{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.timeslots li{
    min-height: 60px;
}
.timeslots li:after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0 ,0.2);
    /* z-index: 10; */
}
.timetable__event{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(52, 1fr);
    grid-area: main;
}
.slot{
    background-color: rgba(0, 0, 0 ,0.2);
    z-index: 10;
    color: white;
    /* text-align: center; */
    padding: 10px;
}
.slot-1{
    grid-row: 4/span 9;
    grid-column: 1/span 1;
}
.slot-2{
    grid-row: 15/span 9;
    grid-column: 1/span 1;
}
.slot-3{
    grid-row: 27/span 20;
    grid-column: 2/span 1;
}

.service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
}
.service h1{
    font-family: 'Raleway';
    font-size: 3em;
    margin: 25px 0;
    text-align: center;
    font-weight: 500;
}
.service-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.card{
    min-height: 300px;
    width: 480px;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    margin: 15px 4px;
    box-shadow: 0 15px 20px rgba(0, 0, 0 ,0.2);
}
.card i{
    margin: 20px;
    color: coral;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align:center;
}