/* .dashboard{
    width: 100%;
    height: 500px;
    background-color:yellow;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;  
} */

.profile-textbox{
    margin: 20px 40px;
    line-height: 2em;
    width: 50%;
}
.course-submit{
    height: 40px;
    width: 240px;
    border-radius: 12px;
    position: absolute;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    text-align: center;
}
.course-submit:hover{
    cursor: pointer;
}